<section id="services">
    <div class="section-title">
      <h1>Superior Quality</h1>
      <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>
    </div>
    </section>
    <section>
    <div class="services">
      <div class="service">
        <div class="image-container">
          <img src="assets/section1.jpg" alt="Image representing Unleash service">
          <h2>Unleash</h2>
        </div>
      </div>
      <div class="service">
        <div class="image-container">
          <img src="assets/section2.jpg" alt="Image representing Synergize service">
          <h2>Synergize</h2>
        </div>
      </div>
      <div class="service">
        <div class="image-container">
          <img src="assets/section3.jpg" alt="Image representing Procrastinate service">
          <h2>Procrastinate</h2>
        </div>
      </div>
    </div>
  </section>