$myFont: sans-serif;
$myColor1: rgb(230, 14, 14);
$myColor2: rgb(84, 84, 255);
$myColor3: rgb(10, 10, 10);
$myColor4: rgb(255, 255, 255);
$bgcolor1: rgba(238, 230, 216, 0.842);
$bgcolor2: rgb(231, 197, 43);
$myFontSize: 15px;
$line_height: 50px;
$hover_color: rgb(212, 212, 212);
$text-shadow: 3px 3px 15px black;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $myFont;
}

body {
  font-family: $myFont;
  width: 100%;
}

#main {
  .container {
    background-color: $bgcolor1;
    height: auto; // Allow height to be dynamic based on content
    font-weight: bold;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: $bgcolor1;

      .logo i {
        font-size: $myFontSize;
        color: $myColor3;
        padding-left: 50px;
      }

      .nav-list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: $myFontSize;
        padding-right: 50px;

        li {
          position: relative;
          margin: 0 20px;

          a {
            text-decoration: none;
            color: $myColor3;
            padding: 10px 15px;

            &:hover {
              background: $hover_color;
              transition: 0.5s;
            }
          }

          .dropdown {
            display: none; 
            position: absolute;
            top: 100%;
            left: 0;
            background: $bgcolor1;
            padding: 10px 0;
            z-index: 10;

            li {
              padding: 10px;

              a {
                padding: 10px;

                &:hover {
                  background: $hover_color;
                  color: $myColor3;
                }
              }
            }
          }

          &:hover .dropdown {
            display: block;
          }
        }
      }

      .cart-icon {
        font-size: 1.2rem;
        margin-right: 5px;
      }

      .open-menu {
        font-size: $myFontSize;
        color: $myColor3;
        display: none; 
        margin-right: 30px;
        cursor: pointer; 
      }

      #check {
        display: none; 
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .nav-list {
          display: none;
          flex-direction: column;
          width: auto;

          &.active {
            display: flex; 
          }

          li {
            width: 100%;
            height: 30px;

            &:hover .dropdown,
            &:focus-within .dropdown {
              display: block;
            }
          }
        }
      
        .open-menu {
          display: block;
          align-self: flex-end;
        }

        #check:checked ~ .nav-list {
          display: flex;
        }

        .dropdown {
          position: relative; 
         
        }
      }
    }
  }
}


#products {
  @extend %flex-center;
  height: 40vh;
  background: url(assets/main.jpg) center/cover no-repeat, $bgcolor2;

  .main-content {
    color: $myColor4;

    h1 {
      font-size: 30px;
      padding: 10px;
      margin-top: 30px;
      text-shadow: $text-shadow;
    }

    h4 {
      font-size: 20px;
      padding: 10px;
      text-shadow: $text-shadow;
    }

    .btn {
      padding: 5px 20px;
      background-color: $bgcolor2;
      color: $myColor4;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      margin: 10px;
      margin-bottom: 10px;

      &:hover {
        background-color: $myColor2;
        transition: 0.3s;
      }
    }
  }
}

#services {
  @extend %flex-center;
  text-align: center;
  padding: 30px;

  h1 {
    color: $myColor3;
    font-size: 30px;
  }

  p {
    color: $myColor3;
    font-size: 15px;
    padding: 10px;
  }
}

.services {
  display: flex;
  justify-content: space-between;

  .service {
    display: flex;
    text-align: center;
    width: 100%;

    .image-container {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $myColor4;
        padding: 5px 10px;
        text-shadow: $text-shadow;
        font-size: 30px;
      }
    }
  }
}


  @media (max-width: 952px) {
    @media (max-width: 890px) {

    .services {
      display: block; 
      flex-direction: column; 
      align-items: center;
  
      .service {
        display: block; 
        width: 100%; 
  
        .image-container {
          img {
            width: 100%; 
            height: auto; 
            object-fit: cover; 
          }
        }
      }
    }
  }}

