/* You can add global styles to this file, and also import other style files */
// Define variables for colors and fonts
$background-color: #f0f0f0;
$primary-color: #e48c11;
$hover-color: #ffae3d;
$text-color: #413f3f;
$border-color: #ccc;
$font-family: 'Arial', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $background-color;
    display: block;
}

.form-container {
    background-color: $background-color;
    padding: 50px;
    width: 60%;
    max-width: 650px;
    margin: 20px auto;

    h3 {
        text-align: left;
        font-weight: normal;
        font-size: 20px;
    }
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    label {
        width: 32%;
        padding: 5px;
        font-weight: bold;
        margin-right: 5px;
        text-align: right;
    }

    .input-icon {
        position: relative;
        width: 70%;

        i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $text-color;
            font-size: 14px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 10px 20px 10px 40px;
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 14px;

            &.textarea {
                resize: none;
                height: 50px;
            }
        }
    }
}

.form-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
        font-weight: bold;
        margin-right: 10px;
    }

    .input-radio {
        display: flex;
        align-items: center;
        margin: 5px;
        gap: 5px;

        label {
            font-weight: normal;
        }
    }
}

.submit-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 15%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: $hover-color;
    }

    i {
        margin-left: 5px;
    }
}
.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
  }
  
  .user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px; /* Adjust width as needed */
  }
  
  .user-card h4 {
    margin: 0 0 15px;
  }
  
  .user-card p {
    margin: 5px 0;
  }
  
  .user-card button {
    margin-top: 10px;
    background-color: rgb(255, 166, 0); /* Button background color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }
  