<section id="main">
    <div class="container">
      <nav>
        <div class="logo">
          <a href="#"><i class="fa-solid fa-fire-flame-curved"> Logo</i></a>
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
        
        <ul class="nav-list">
          <li><a href="#"> Home</a></li>
          <li><a href="#"> Products</a></li>
          <li>
            <a href="#">Services <i class="fa-solid fa-caret-down"></i></a>
            <ul class="dropdown">
              <li><a href="#">Service1</a></li>
              <li><a href="#">Service2</a></li>
              <li><a href="#">Service3</a></li>
            </ul>
          </li>
          <li><a href="#"> My account</a></li>
          <li><a href="#"><i class="fas fa-shopping-cart"></i> My cart </a></li>
        </ul>

      </nav>
    </div>
  </section>
  