form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


  button {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3700b3;
    }

    &:disabled {
      background-color: #d1c4e9;
    }
  }
}


