header {
  mat-toolbar {
    background-color: #1976d2;
    color: white;
    .spacer {
      flex: 1;
    }

    nav {
      display: flex;
      gap: 20px;
    }

    a {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #ff4081;
      }

      &.active {
        color: #ff4081;
        font-weight: 700;
      }
    }
  }
}
